<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

        <meta name="viewport" content="width=device-width, initial-scale=1.0">

    	<link href="/static/css/bootstrap.min.css" rel="stylesheet" media="screen">
        <link href="/static/css/bootstrap.css" rel="stylesheet" media="screen">

        <link href="http://twitter.github.com/bootstrap/assets/css/bootstrap-responsive.css" rel="stylesheet">

    	{% if title%}
    		<title>{{ title }} - flixList - Search once</title>
    	{% else %}
    		<title>flixList - Search once</title>
    	{% endif %}

    </head>
<body>
    <div class='container'>

    	{% block content %} {% endblock %}

        {% include 'footer.html' %}

    </div>


</body>
</html>