<div>

  <hr>

    <div class="masthead">

        <ul class="nav nav-pills pull-right">
          <li><a href="{{ url_for('search.index') }}">Home</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
        </ul>

        <h3 class="muted">FlixList</h3>

    </div>

</div>
