<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}

	<legend style="text-align: center;">Find if your Movies, TV Shows are on <img src="/static/img/netflix.png"></legend>
	{% from "_formhelpers.html" import render_field %}
	<form method=post action="" class="form-inline" style="text-align: center;">

		<dl style="text-align: center;" >

			{{ render_field(form.search_terms) }}
			<br>
			<input type="submit" value="Search" class="btn btn-large btn-success">

		</dl>

	</form>

{% endblock %}