<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}


<div class="row">
    <div class="span12">
        <h1 style="margin-bottom:0;">{{ result.title.regular }}</h1>
        <br>
    </div>
    <div class="span4">
        <img src="{{ result.box_art.large}}" alt="{{ result.title.regular }}" class="img-rounded">
        <br>
        <h4>{{ result.release_year }}</h4>

        <!-- Netflix Rating / Rating -->
        <h5>

            {{ result.average_rating }} stars out of 5
            <br>
            {% if result.category[0]['term'] %}
                Rated: {{ result.category[0]['term'] }}
            {% else %}
                Rated: N/A
            {% endif %}

        </h5>

    </div>

    <div class="span8">

        <h3>Available on:</h3>

        <table class="table">
            <tr>
                <th style="text-align:center;" >INSTANT </th>
                <th style="text-align:center;">DVD </th>
                <th style="text-align:center;">Blu-ray: </th>
            </tr>
            <tr>
                <td class="text-info" style="text-align:center;">
                    {% if "instant" in  result.formt %}
                        <b>Yes</b>
                    {% else %}
                        <b>No</b>
                    {% endif %}
                </td>

                <td class="text-info" style="text-align:center;">
                    {% if "DVD" in  result.format %}
                        <b>Yes</b>
                    {% else %}
                        <b>No</b>
                    {% endif %}
                </td>

                <td class="text-info" style="text-align:center;">
                    {% if "Blu-ray" in  result.format %}
                        <b>Yes</b>
                    {% else %}
                        <b>No</b>
                    {% endif %}
                </td>
            </tr>

        </table>
        <hr>

        <p>
            <!-- Synopsis -->
            {% if result.synopsis %}

                {{ result.synopsis }}

            {% else %}

                Netflix doesn't have a description for this title.

            {% endif %}

        </p>

        <!-- Category -->
        <h5>Category:</h5>

        <ul class="inline">

            {% for i in range(1, result.category|length) %}

                <li class="text-info">{{ result.category[i]['term'] }}</li>

            {% endfor %}

        </ul>


        <div class="row-fluid">
            <div class="span6">
                <!-- Cast -->
                <h3>Cast:</h3>

                <ul >
                    {% if result.cast == None %}

                        <li>Not Available</li>

                    {% else %}

                        {% for actor in result.cast %}

                            <li>{{ actor }}</li>

                        {% endfor %}

                    {% endif %}

                </ul>
            </div>

            <div class="span6">
                <!-- Director -->
                <h3>Director:</h3>

                <ul>
                    {% if result.directors == None %}

                        <li>Not Available</li>

                    {% else %}

                        {% for director in result.directors %}

                            <li>{{ director }}</li>

                        {% endfor %}

                    {% endif %}

                </ul>

                <!-- Awards -->
                <h3>Awards:</h3>
                <ul>
                    {% if result.awards == None %}
                        <li>N/A</li>
                    {% else %}

                        {% for award in result.awards %}

                            <li>{{ award }}</li>

                        {% endfor %}

                    {% endif %}

                </ul>
            </div>
        </div>

        <div>
            <h4> <img src="/static/img/rotten_tomatoes.png" alt="Rotten Tomatoes" width="20" height="20"> Reviews from RottenTomatoes: </h4>
            {% if reviews != None %}
                <dl class="dl-horizontal" style="margin-right:30px">
                {% for review in reviews %}
                    <dt>{{ review.critic }}</dt>
                    <dd>{{  review.quote }}</dd>
                    <br>
                {% endfor %}
                </dl>
            {% else %}
                Ooops! There are no reviews for {{ result.title.regular }}
            {% endif %}

        </div>

    </div>


    <div class="span12">
        <!-- <a href="">Netflix Link</a> -->
        <!-- <a href="">Official Website</a> -->
        <br>
    </div>
</div>



{% endblock %}