<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<h3>{{ num_results }} results for "{{ search_term }}":</h3>

<table class="table table-hover">

    <tr>

        <th>Art/Cover</th>
        <th>Title</th>

    </tr>

    {% for r in lst_results %}

    <tr>

        <td><img src="{{ r.box_art.large }}" alt="{{ r.title.regular }}"></td>
        <td><a href="{{ url_for('search.movies_series', n_id=r.id, n_id_type=r.id_type) }}">{{r.title.regular}}</a></td>


    </tr>

    {% endfor %}

</table>

{% endblock %}
